{% extends 'base.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1>Edit Answer</h1>

    Вопрос: {{ answer.getQuestion().getContent() }}

    {{ include('answer/_form.html.twig', {'button_label': 'Ответить'}) }}
{% endblock %}
