{% extends 'base.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block body %}
    <h1>Ответить</h1>
    {% if limit %}
    <div class="timer" data-limit="{{ limit }}"></div>
    {% endif %}

    Вопрос: {{ answer.getQuestion().getContent() }}

    {{ include('answer/_form.html.twig', {'button_label': 'Ответить'}) }}
{% endblock %}
