{% extends 'admin.html.twig' %}

{% block title %}{{ 'New User'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new User'|trans }}</h1>

    {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
