{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Question'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Question'|trans }}</h1>

    {{ include('question/_form.html.twig', {
        'action': 'edit',
        'entity': entity,
    }) }}

{% endblock %}
