{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Exam'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Exam'|trans }}</h1>

    {{ include('exam/_form.html.twig', {
        'action': 'edit',
        'entity': exam,
    }) }}

{% endblock %}
