{% extends 'base.html.twig' %}

{% block title %}Edit Exam{% endblock %}

{% block body %}
    <h1>Edit Exam</h1>

    {{ include('exam/_form.html.twig', {
        'action': 'edit',
        'entityId': exam.id,
        'button_label': 'Update'
    }) }}

{% endblock %}
