{% extends 'base.html.twig' %}

{% block title %}New Exam{% endblock %}

{% block body %}
    <h1>Create new Exam</h1>

    {{ include('exam/_form.html.twig', {
        'action': 'new',
        'entityId': 0,
        'button_label': 'Update'
    }) }}

{% endblock %}
