{% extends 'base.html.twig' %}

{% block title %}{{ 'New Exam'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Exam'|trans }}</h1>

    {{ include('exam/_form.html.twig', {
        'action': 'new',
    }) }}

{% endblock %}
