:root {
    --primary-background-color: #EBEBEB;
    --authorization-background-color: #F8F9F9;
    --font-primary: 'Roboto', sans-serif;
    --link-color-primary: #0044BB;
    --link-color-hover-primary: #CC0000;
    --text-color-primary: #262626;
    --button-color: #FFCC00;
    --hover-button-color: #FAC000;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
}
