<form method="post" action="{{ path('app_answer_variant_delete', {'id': answer_variant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ answer_variant.id) }}">
    <button class="btn">Delete</button>
</form>
