{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit ExaminationSheet'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit ExaminationSheet'|trans }}</h1>

    {{ include('components/_form.html.twig', {
        'action': 'edit',
        'entity': examination_sheet
        'entityName': 'examination_sheet',
    }) }}

{% endblock %}
