{% extends 'base.html.twig' %}

{% block title %}{{ 'New ExaminationSheet'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new ExaminationSheet'|trans }}</h1>

    {{ include('components/_form.html.twig', {
        'action': 'new',
        'entityName': 'examination_sheet',
    }) }}

{% endblock %}
