{% extends 'base.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1>Edit Question</h1>

    {{ include('yes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_yes_index') }}">back to list</a>

    {{ include('yes/_delete_form.html.twig') }}
{% endblock %}
