{% extends 'base.html.twig' %}

{% block title %}{{ 'New Question'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Question'|trans }}</h1>

    {{ include('yes/_form.html.twig') }}

    <a href="{{ path('app_yes_index') }}">back to list</a>
{% endblock %}
